.calendar {
  background-color: $color_gray-dark-rgba;
  padding: 10px 15px;

  .calendar-header {
    display: flex;
    padding: 7px;
    cursor: pointer;
  }
  .calendar-body {
    margin-bottom: 60px;
  }
  .entry-placeholder {
    flex: 0 0 220px;
    width: 220px;
    box-sizing: border-box;
    padding-right: 5px;
    border-right: 1px solid $color_blue-clean;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;

    .entry-name {
      flex: 0 0 100%;
      font-size: $_font-size-large;
      color: $color_yellow-light;
      font-weight: 900;
      padding: 3px 10px 5px 40px;
    }
    .position-placeholder {
      display: inline-table;
      max-width: calc(100% - 55px);
      padding: 3px 7px;
      border: 1px solid black;
      border-radius: 6px;
      margin-bottom: 5px;
    }

    &.directions-wrapper {
      padding-left: 7px;
    }
  }
  .directions-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
  }
  .day-column {
    flex: 1 1 0;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;

    .day-name {
      font-size: $_font-size-large;
      text-decoration: underline;
      font-style: italic;
    }
    .day-date {
      font-size: $_font-size-small;
    }
    .shift-entry {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 5px;
      border: 1px solid black;
      border-radius: 6px;
      margin-bottom: 5px;
      margin-right: 3px;
    }
    &:not(:last-child) {
      border-right: 1px solid $color_blue-clean;
    }
    &.current-day {
      background-color: $color_yellow-light-rgba;
      color: $color_gray-dark-rgba;
    }
  }
  .entry-calendar-row {
    display: flex;
    margin-top: 7px;
    padding: 14px 7px 7px 7px;
    box-shadow: 0px 55px 80px -75px $color_blue-light inset;
  }
}