.left-sidebar {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 15px;
  color: $color_yellow-whitened;
  position: relative;
  background-color: $color_gray-dark-rgba;

  .sidebar-section {

    .section-container {
      display: none;
      padding-top: 10px;
      margin-top: 10px;
    }
    .entry-row {
      display: flex;
      flex-wrap: wrap;
    }
    .entry-name {
      font-size: $_font-size-large;
      font-weight: 900;
      padding: 3px 10px 5px 50px;
      min-width: 50px;

      &.shift-name {
        margin-top: 10px;
      }
    }
    .position-placeholder {
      display: inline-table;
    }
    .actions-info {
      flex: 0 0 calc(100% - (#{$avatar-size} + 2px));
      display: flex;
      flex-wrap: wrap;
    }
    .entry-actions {
      flex: 1 1 60px;

      & > * {
        font-size: $_font-size-large;
        margin: 7px;
        cursor: pointer;
      }
    }
    .entry-info {
      display: flex;
      flex: 1 1 calc(100% - #{$avatar-size} - 62px);
      margin: 5px 7px;

      &.position-employees {
        flex-wrap: wrap;
      }
    }
    .shift-description {
      margin-top: 10px;
      padding-left: 10px;
      padding-top: 7px;
      word-wrap: break-word;
      word-break: break-all;
      max-width: 47%;
    }
    .picked-color {
      width: 100%;
      height: 100%;
    }
    .shift-picker-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      select {
        background-color: $color_gray-dark-rgba;
        padding: 3px;
        border-radius: 4px;
        margin-right: 10px;
      }
      input {
        flex: 1 1 100%;
        margin-top: 10px;
        padding: 3px;
        border-radius: 4px;
        color: $color_blue-clean;
        text-align: center;
      }
      .shift-picker-button {
        padding: 3px 7px;
        border: 1px solid black;
        border-radius: 6px;
        color: black;
        margin: 5px 0 0 5px;
        cursor: pointer;
        background-color: $color_blue-clean;
      }
    }
    .error-deleting-wrapper {
      margin-bottom: 10px;
      color: $color_red-deep;
    }
    .entry-creation-wrapper {
      border: 1px solid $color_blue-light;
      border-radius: 4px;
      padding: 5px 10px;
      margin-bottom: 20px;

      .section-header {
        font-size: $_font-size-small !important;

        i {
          font-size: 18px !important;
        }
      }
      .section-container {
        box-shadow: 0px 55px 80px -75px $color_blue-light inset;
      }
      .entry-row {
        padding: 5px;

        .color-picker {
          display: flex;
          flex-wrap: wrap;
          flex: 1 1 50%;
          max-width: 50%;

          .color-placeholder {
            flex: 0 0 20px;
            margin-right: 7px;
            margin-bottom: 3px;
            cursor: pointer;

            * {
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
          }
        }
        input {
          flex: 1 1 calc(50% - 6px);
          max-width: calc(50% - 6px);
          box-sizing: border-box;
          margin-left: 5px;
          padding-left: 7px;
          border-radius: 4px;
          color: black;
          align-self: self-start;

          &[type="textarea"] {
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }
          &[type="date"] {
            width: 100%;
            flex: 1 1 100%;
            max-width: 100%;
            text-align: center;
          }
        }
        .employee-picker, .avatar-picker, .position-picker {
          display: flex;
          flex: 1 1 50%;
          max-width: 50%;
          flex-wrap: wrap;
          margin: 5px 0;
        }
        .employee-picker {
          & .employee-placeholder {
            cursor: pointer;

            & > span {
              word-break: break-all;
            }
          }
        }
        .avatar-placeholder {
          margin: 0 5px 5px 0;
          cursor: pointer;
        }
        .position-placeholder {
          cursor: pointer;
        }
        .picked-item {
          transform: scale(0.7);
        }
      }
      .employee-entry {
        .entry-row {
          input[type="text"] {
            max-width: 100%;
            flex: 1 1 100%;
            margin-top: 10px;
          }
        }
      }
    }
    .error-message-wrapper {
      color: $color_red-whitened;
    }
    .list-references-wrapper {
      flex: 1 1 calc(100% - #{$avatar-size} - 66px);
      display: flex;

      .shift-positions-wrapper, .shift-employees-wrapper {
        flex: 1 1 50%;
        box-sizing: border-box;
        margin-left: 5px;
      }
    }
    // Section for shift specific styles
    .shift-entry {
      .entry-name {
        max-width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;
      }
    }
    // Section for position specific styles
    .position-entry {
      .entry-name {
        border-right: none !important;
      }
    }
    // Section for employee specific styles
    .employee-entry {
      .entry-name {
        border-right: none !important;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}