.left-sidebar {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 15px;
  color: $color_yellow-whitened;
  position: relative;
  background-color: $color_red-whitened-rgba;
  border: 1px solid $color_red-smooth;
  border-radius: 8px;

  .sidebar-section {
    flex: 0 0 100%;
    padding: 7px 0;
    border-bottom: 1px solid $color_red-smooth;

    .section-header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
    .section-container {
      display: none;
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid red;
    }
    .sidebar-entry:not(:last-child) {
      box-shadow: 0px -55px 80px -75px red inset;
      padding-bottom: 7px;
      margin-bottom: 7px;
      border-bottom: 1px dotted red;
    }
    .entry-row {
      display: flex;
      flex-wrap: wrap;
    }
    .entry-name {
      font-size: $_font-size-large;
      font-weight: 900;
      padding: 3px 10px 5px 50px;
    }
    .avatar {
      display: flex;
      flex: 0 0 $avatar-size;
      width: $avatar-size;
      height: $avatar-size;
      justify-content: center;
      align-items: center;
      background-color: red;
      border: 1px solid black;
      border-radius: 50%;
      font-size: $_font-size-extra-large;
    }
    .actions-info {
      flex: 0 0 calc(100% - (#{$avatar-size} + 2px));
      display: flex;
      flex-wrap: wrap;
    }
    .entry-actions > * {
      font-size: $_font-size-large;
      margin: 7px;
      cursor: pointer;
    }
    .entry-info {
      display: flex;
      flex: 1 1 0;
      margin: 5px 7px;

      .employee-placeholder {
        max-width: calc((100% - #{$avatar-size} - 10px) / 2);
      }
    }
    .position-placeholder {
      padding: 3px 7px;
      border: 1px solid black;
      border-radius: 6px;
      margin-bottom: 5px;
    }
    .employee-placeholder {
      padding: 3px 7px;
      border: 1px solid black;
      border-radius: 6px;
      background-color: green;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    .shift-color, .position-color {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 50%;
      border: 1px solid black;
      overflow: hidden;
    }
    .shift-positions-wrapper, .shift-employees-wrapper {
      display: flex;
      flex-direction: column;
      max-width: calc((100% - #{$avatar-size} - 100px) / 2);
      margin-left: 10px;
    }
    .shift-employees-wrapper {
      padding-left: 10px;
      border-left: 1px solid black;
    }
    .shift-description {
      padding-left: 10px;
      padding-top: 7px;
      border-left: 1px solid black;
      word-wrap: break-word;
      word-break: break-all;
      max-width: 49%;
    }
    .picked-color {
      width: 100%;
      height: 100%;
    }
    // Section for employee specific styles
    .employee-entry {

    }
    // Section for shift specific styles
    .shift-entry {
      .entry-name {
        max-width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;
      }
    }
    // Section for position specific styles
    .position-entry {

    }

    &:last-child {
      border-bottom: none;
    }
  }
}