.right-sidebar {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 15px;
  color: $color_yellow-whitened;
  position: relative;
  background-color: $color_gray-dark-rgba;

  .sidebar-header {
    text-align: center;
    flex: 0 0 100%;
    font-size: 22px;
    border-bottom: 1px solid $color_blue-clean;
    padding-bottom: 19px;
    margin-bottom: 10px;
    align-self: center;
    font-weight: 600;
  }
  .sidebar-section {

    .section-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 10px;
      margin-top: 10px;
    }
    &:not(:last-child) {
      box-shadow: 0px -55px 80px -75px $color_blue-light inset;
      border: none !important;
    }
  }
  .entry-name {
    font-size: $_font-size-large;
    font-weight: 900;
    padding: 3px 10px 5px 50px;
  }
  .shift-color, .position-color {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
  }
}